.Rhistory
.Rapp.history
.RData
.rds
.rdata
*.RData
*.rds
*.rdata
.RDataTmp
.Ruserdata
.Rproj.user/
.Rproj
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
.xlsx
.parquet
.feather
*.xlsx
*.parquet
*.feather
